#card{
  transition: all 1s ease-in-out;
  padding-bottom: 450px;
}

#card .front{
 -webkit-transform:rotateY(0deg);
  -webkit-backface-visibility: visible;
  -webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}

#card .back{
   -webkit-transform:rotateY(0deg);
  -webkit-backface-visibility: visible;
  -webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}

#frontF, #backF{
  position: absolute;
  overflow: visible;
  -webkit-transform:rotateY(0deg);
  -webkit-backface-visibility: visible;
  -webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
}

#so_funktionierts, #example_wrapper h1{
  padding-top: 65px;
}

#myrow .col-xs-12{
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}

#myrow .background_wrapper{
  background-color:#558C89;
  border-radius:10px;
  padding: 20px 0;
}

#form_wrapper h1 {
  padding-top: 20px;
}

#description1, #description2, #description3{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

#description1, #description2, #description3, #myrow p{
  font-size: 1.2em;
}

#example_wrapper .col-xs-8{
  font-size: 1.2em;
}

/*
@media only screen (-moz-min-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2/1), 
only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {

  #registerForm, #loginForm{
    padding-top:250px;
  }

  #hat{
    font-size: 7em;
  }

  #hat_lead{
    font-size: 4em;
  }

  #sign-form{
    display: inline-block;
    text-align: center;
    margin: 5px 236px;
  }

  #signInBtn{
    font-size: 3.5em;
    border-radius: 20px;
  }

  #navbarForm{
    text-align: center;
  }

  #navigationBar{
    text-align: center;
  }

  #so_funktionierts{
    font-size: 2em;
    padding-top: 540px;
  }

  #description1, #description2, #description3{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 3em;
  }

  #myrow .img-circle{
    width: 400px;
    height: 400px;
  }

  #myrow h3 {
    font-size: 4em;
  }

  #myrow p {
    font-size: 2em;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
  }

  #example_wrapper{
    padding-bottom: 60px;
  }

  #example_wrapper h1{
    padding-top: 110px;
    padding-bottom: 20px;
    font-size: 6em;
  }

  #example_wrapper .row {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  #example_wrapper .row .col-xs-8 {
    font-size: 3em;
  }

  #example_wrapper .row .col-xs-4 {
    font-size: 2.5em;
  }

  #example_wrapper .row .glyphicon-option-vertical{
    padding-top: 0px;
    padding-bottom: 20px;
  }

  #form_wrapper h1{
    margin-top: -700px;
    font-size: 6em;
  }

  #card label{
    font-size: 3em;
  }

  #card input{
    font-size: 2em;
    height: 50px;
  }
}*/

@media (max-width: 600px){
  #myrow p {
    margin: 0 40px;
  }
}


@media (max-width: 361px){
  .login_register_switch_paragraph{
    font-size: 14px !important;
  }

  #registerBtn, #loginBtn{
  font-size: 14px !important;
}

}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.login_register_switch_area{
}

#registerDiv{
  margin: 0 -20px;
  margin-bottom: -30px;
}

#registerBtn,#loginBtn{
  font-size: 16px;
}


.login_register_switch_paragraph{
  
  line-height: 35px;
  color: rgb(127, 124, 124);
  left: 0px;
  height: 50px;
  /*height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;*/
  padding: 5px;
  padding-right: 20px;
  font-size: 16px ;
  text-align: right;
  border-top: 1px solid rgb(219, 229, 232);
  -webkit-border-radius: 0 0  5px 5px;
     -moz-border-radius: 0 0  5px 5px;
          border-radius: 0 0  5px 5px;
  background: rgb(225, 234, 235);
  background: -moz-repeating-linear-gradient(-45deg, 
  rgb(247, 247, 247) , 
  rgb(247, 247, 247) 15px, 
  rgb(225, 234, 235) 15px, 
  rgb(225, 234, 235) 30px, 
  rgb(247, 247, 247) 30px
  );
  background: -webkit-repeating-linear-gradient(-45deg, 
  rgb(247, 247, 247) , 
  rgb(247, 247, 247) 15px, 
  rgb(225, 234, 235) 15px, 
  rgb(225, 234, 235) 30px, 
  rgb(247, 247, 247) 30px
  );
  background: -o-repeating-linear-gradient(-45deg, 
  rgb(247, 247, 247) , 
  rgb(247, 247, 247) 15px, 
  rgb(225, 234, 235) 15px, 
  rgb(225, 234, 235) 30px, 
  rgb(247, 247, 247) 30px
  );
  background: repeating-linear-gradient(-45deg, 
  rgb(247, 247, 247) , 
  rgb(247, 247, 247) 15px, 
  rgb(225, 234, 235) 15px, 
  rgb(225, 234, 235) 30px, 
  rgb(247, 247, 247) 30px
  );
}

/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

div .hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
div .hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  font-size: 2.5em;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
div .hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.signIn-btn { 
  color: #FFFFFF; 
  background-color: #D9853B; 
  border-color: #D9853B; 
} 
 
.signIn-btn:hover, 
.signIn-btn:focus, 
.signIn-btn:active, 
.signIn-btn.active, 
.open .dropdown-toggle.signIn-btn { 
  color: #FFFFFF; 
  background-color: #D9853B; 
  border-color: #D9853B; 
} 
 
.signIn-btn:active, 
.signIn-btn.active, 
.open .dropdown-toggle.signIn-btn { 
  background-image: none; 
} 
 
.signIn-btn.disabled, 
.signIn-btn[disabled], 
fieldset[disabled] .signIn-btn, 
.signIn-btn.disabled:hover, 
.signIn-btn[disabled]:hover, 
fieldset[disabled] .signIn-btn:hover, 
.signIn-btn.disabled:focus, 
.signIn-btn[disabled]:focus, 
fieldset[disabled] .signIn-btn:focus, 
.signIn-btn.disabled:active, 
.signIn-btn[disabled]:active, 
fieldset[disabled] .signIn-btn:active, 
.signIn-btn.disabled.active, 
.signIn-btn[disabled].active, 
fieldset[disabled] .signIn-btn.active { 
  background-color: #D9853B; 
  border-color: #D9853B; 
} 
 
.signIn-btn .badge { 
  color: #D9853B; 
  background-color: #FFFFFF; 
}

.register-btn { 
  color: #D9853B; 
  background-color: #E8F0DA; 
  border-color: #c9d6d6; 
} 
 
.register-btn:hover, 
.register-btn:focus, 
.register-btn:active, 
.register-btn.active, 
.open .dropdown-toggle.register-btn { 
  color: #D9853B; 
  background-color: #E8F0DA; 
  border-color: #c9d6d6; 
} 
 
.register-btn:active, 
.register-btn.active, 
.open .dropdown-toggle.register-btn { 
  background-image: none; 
} 
 
.register-btn.disabled, 
.register-btn[disabled], 
fieldset[disabled] .register-btn, 
.register-btn.disabled:hover, 
.register-btn[disabled]:hover, 
fieldset[disabled] .register-btn:hover, 
.register-btn.disabled:focus, 
.register-btn[disabled]:focus, 
fieldset[disabled] .register-btn:focus, 
.register-btn.disabled:active, 
.register-btn[disabled]:active, 
fieldset[disabled] .register-btn:active, 
.register-btn.disabled.active, 
.register-btn[disabled].active, 
fieldset[disabled] .register-btn.active { 
  background-color: #E8F0DA; 
  border-color: #c9d6d6; 
} 
 
.register-btn .badge { 
  color: #E8F0DA; 
  background-color: #D9853B; 
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100%)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-100%)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-100%)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

@-webkit-keyframes swingInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
}

@-moz-keyframes swingInX {
    0% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
}

@-o-keyframes swingInX {
    0% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
}

@keyframes swingInX {
    0% {
        transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        transform: perspective(400px) rotateX(0deg)
    }
}

.animated.swingInX {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ie-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: swingInX;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: swingInX;
    -o-backface-visibility: visible !important;
    -o-animation-name: swingInX;
    backface-visibility: visible !important;
    animation-name: swingInX
}

@-webkit-keyframes swingOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
}

@-moz-keyframes swingOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
}

@-o-keyframes swingOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
}

@keyframes swingOutX {
    0% {
        transform: perspective(400px) rotateX(0deg)
    }

    100% {
        transform: perspective(400px) rotateX(-90deg)
    }
}

.animated.swingOutX {
    -webkit-transform-origin: top;
    -webkit-animation-name: swingOutX;
    -webkit-backface-visibility: visible !important;
    -moz-animation-name: swingOutX;
    -moz-backface-visibility: visible !important;
    -o-animation-name: swingOutX;
    -o-backface-visibility: visible !important;
    animation-name: swingOutX;
    backface-visibility: visible !important
}